-- Hotel Management System Database Schema
CREATE DATABASE IF NOT EXISTS hotel_management;
USE hotel_management;

CREATE TABLE users (
    user_id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(100) NOT NULL,
    email VARCHAR(255) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    role ENUM('admin', 'customer') DEFAULT 'customer',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE rooms (
    room_id INT AUTO_INCREMENT PRIMARY KEY,
    room_number VARCHAR(10) NOT NULL UNIQUE,
    room_type ENUM('single', 'double', 'suite') NOT NULL,
    price_per_night DECIMAL(10,2) NOT NULL,
    max_occupancy INT NOT NULL,
    description TEXT,
    status ENUM('available', 'occupied', 'maintenance') DEFAULT 'available',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE reservations (
    reservation_id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT,
    room_id INT,
    check_in_date DATE NOT NULL,
    check_out_date DATE NOT NULL,
    total_amount DECIMAL(10,2) NOT NULL,
    status ENUM('pending', 'confirmed', 'cancelled', 'completed') DEFAULT 'pending',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(user_id),
    FOREIGN KEY (room_id) REFERENCES rooms(room_id)
);

-- Insert sample rooms
INSERT INTO rooms (room_number, room_type, price_per_night, max_occupancy, description) VALUES
('101', 'single', 99.99, 1, 'Cozy single room with city view'),
('102', 'single', 89.99, 1, 'Standard single room'),
('201', 'double', 149.99, 2, 'Spacious double room with balcony'),
('202', 'double', 159.99, 2, 'Luxury double room with garden view'),
('301', 'suite', 299.99, 4, 'Executive suite with living area and kitchenette'),
('302', 'suite', 349.99, 4, 'Presidential suite with jacuzzi');

-- Insert admin user (password: admin123)
INSERT INTO users (username, email, password, role) VALUES 
('admin', 'admin@luxurystays.com', '\\\.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', 'admin');
